<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/query">Query</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main">
<br>
    <div class="page-header">
        <h3>Query by bizTransaction {{id}}</h3>
        <a href="/api/bizTx/{{base64Id}}">{{id}}</a><br>
    </div>

    <table class="table table-bordered">
      <tr><th>Epcid</th><th>BizStep </th><th>Disposition </th><th>BizLocation </th></tr>
      {{#byBizTx}}
      <tr>
        <td><a href="/api/epcid/{{epcid}}">{{epcid}}</td>
        <td>{{bizStep}}</td>
        <td>{{disposition}}</td>
        <td>{{bizLocation}}</td>
      </tr>
      {{/byBizTx}}
    </table>
    
    <br>

</div> <!-- /container -->

