<!-- Fixed navbar menu -->
{{> myNavbarMenu }}

<div class="container theme-showcase" role="main">
<br>
    <div class="jumbotron">
        <h2>EPCIS Registry Adapter for Hyperledger</h2>
        <p>This is a backend interface for the EPCIS Registry for Blockchain.</p>
    </div>

    <div class="page-header">
        <h3>API</h3>
    </div>

    <div><span class="label label-success">GET</span>  /api/stats    </div>

    <div><span class="label label-success">GET</span>  /api/epcid/urn:epc:id:sgtin:41065887.79796.0000000001    </div>

    <div><span class="label label-info">POST</span>  /api/event    </div>

    <br>
    <div><span class="label label-success">GET</span>  /api/bizTx/aHR0cDovL2VwY2lzLm1vaml4LmNvbS9wby8wMDAwMDAx   (id in base64)</div>

    <div><span class="label label-info">POST</span>  /api/bizTx    (id in the body)</div>


    <div class="page-header">
        <h3>Info</h3>
    </div>

    <div>Channel     <strong>{{channelName}}</strong>    </div>
    <div>Chaincode   <strong>{{chaincodeId}}</strong>    </div>
    <div>CouchDB     <strong>{{couchdbUrl}}</strong>     </div>
    <br>
    <div>BlockNumber <strong>{{blockNumber}}</strong>  with {{txNum}} txs.  </div>
    
    <br>
    <table class="table table-bordered count">
      <tr><th class="count">Level</th><th class="count">count</th></tr>
      <tr><td class="count">items/things</td><td class="count">{{countThings}}</td></tr>
      <tr><td class="count">cases</td><td class="count">{{countCases}}</td></tr>
      <tr><td class="count">pallets</td><td class="count">{{countPallets}}</td></tr>
      <tr><td class="count">error</td><td class="count">{{countErrors}}</td></tr>
    </table>

    <br>
    <table class="table table-bordered">
      <tr><th>Level</th><th>Location</th><th>BizStep</th><th>count</th></tr>
      {{#byBizStep}}
      <tr>
        <td>{{level}}</td>
        <td>{{location}}</td>
        <td>{{bizStep}}</td>
        <td>{{value}}</td>
       </tr>
      {{/byBizStep}}
    </table>
    
    <br>
    <table class="table table-bordered">
      <tr><th>Level</th><th>BizTransaction</th><th>BizStep</th><th>count</th></tr>
      {{#byBizTx}}
      <tr>
        <td>
            <a href="/bizTx/{{id}}">{{key}}</a>
        </td>
        <td>{{key2}}</td>
        <td>{{value}}</td>
      </tr>
      {{/byBizTx}}
    </table>
    
    <div> <br><br><br><br>   </div>



</div> <!-- /container -->

